@import "./mixin";
@import "./variables";
 nav {
        position: relative;
        width: 20%;
        padding: $base-padding*2;
        @include center(column);
        justify-content: flex-start;
        min-height: 87vh;
        &::before {
            @include full_before();
            background-color: rgba(205, 205, 205, 0.6);
            filter: blur(1px);
            border-radius: $base-border-radius * 2.5;
            border: 2px solid white;
        }
        div[id="icon"] {
            position: relative;
            padding: 2px $base-padding;
            border-radius: $base-border-radius * 1.5;
            background: white;
            padding: 4px $base-padding;
            margin-right: 30px;
            @include center(row);
            img {
                width: 45px;
            }
            span {
                font-size: 2.5rem;
                font-weight: 700;
                font-style: italic;
                color: rgb(59, 68, 91);
                vertical-align: center;
            }
        }
        div[id="profile"]{
            width: 95%;
            min-height: 200px;
            background-color: $alternate-color;
            margin:$base-margin 0px;
            border-radius: $base-border-radius*2;
        }
        a[class="nav-link"] {
            margin: 0px 30px;
            font-size: $base-font-size;
            position: relative;
            text-decoration: none;
            color: $base-style-color;
            &::before {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                right: 0;
                height: 3px;
                background-color: white;
                transition: 0.3s ease-in-out;
                transform: scaleX(0%);
            }
            &:hover::before {
                transform: scaleX(100%);
            }
        }
        a:last-child {
            position: absolute;
            right: 0;
            margin: 0px $base-margin;
            background-color: rgb(0, 76, 255);
            border-radius: $base-border-radius * 2;
            z-index: 0;
            border: 2px solid white;
            text-decoration: none;
            height: 50px;
            width: 160px;
            font-size: $base-font-size;
            overflow: hidden;
            text-align: center;
            span {
                display: grid;
                align-content: center;
                width: 100%;
                height: 100%;
                color: white;
                position: relative;
                background: transparent;
                &::before {
                    @include full_before();
                    background-color: rgb(37, 101, 250);
                    width: 0;
                    transition: 0.3s ease-in-out;
                }
            }
            &:hover span::before {
                width: 100%;
            }
        }
    }