<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo App</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <main>
        <p>Try adding a task:</p>
        <form id="description" action="">
            <textarea class="input" name="" id="" cols="30" rows="5" placeholder="Description...."></textarea>
            <input id="inp1" class="input" type="text" value="Choose a category..." disabled>
            <img id="arrow" src="./images/down.png" alt="">
            <ul class="list">
                <li>School or College</li>
                <li>Work</li>
                <li>Friend</li>
                <li>Cleaning</li>
                <li>Other</li>
            </ul>
            <input id="inp2" class="input" type="date">
        </form>
    </main>
    <script type="text/javascript" src="./js/home.js"></script>
</body>
</html>