<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="../css/user-signup.css">
</head>
<body>
    <main>
        <form id="signup-form" action="/user/create_user" method="post">
            <label class="label" for="email">Enter you username:</label>
            <input class="inp" id="user-name" type="text" name="email">
            <label class="label" for="password">password</label>
            <input class="inp" id="password" type="text" name="password">
            <label class="label" for="name">Enter you name:</label>
            <input class="inp" id="name" type="text" name="name">
            <button form="signup-form" class="btn" type="submit">sign up</button>
            <a href="/"><button class="btn" type="button">back</button></a>
        </form>
    </main>
</body>
</html>