<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="../css/user-signup.css">
</head>
<body>
    <main>
        <form id="signup-form" action="/user/create_user" method="post">

            <div class="container">
                <input class="inp" id="user-name" type="text" name="email">
                <label class="label" for="user-name">Enter you username</label>
            </div>

            <div class="container">
                <input class="inp" id="password" type="password" name="password">
                <label class="label" for="password">Enter the password</label>
            </div>

            <div class="container">
                <input class="inp" id="name" type="text" name="name">
                <label class="label" for="name">Enter your name</label>
            </div>

            <a href="/"><button class="btn" type="button">back</button></a>
            <button form="signup-form" class="btn" type="submit">sign up</button>
        </form>
        <script type="text/javascript" src="../js/user-signup.js"></script>
    </main>

    <a id="signin" href="/user/signin">already have an account? sign in</a>
</body>
</html>