@import "./variables.scss";
* {
    margin: 0px;
}
body {
    height: 100vh;
    background-image: url(../images/b5.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: $base-font-family;
    font-size: $base-font-size;
    section {
        height: 90%;
        width: 90%;
        background-color: rgba(200, 200, 200, 0.429);
        box-shadow: 0px 0px 5px 3px rgba(200, 200, 200, 0.429);
        border-radius: $base-border-radius;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &#nav {
            width: 20%;
            position: relative;
            >a{
                position: absolute;
                top: 0px;
                left: 15px;
                font-size: $base-font-size*1.2;
                text-decoration: none;
                background-color: ghostwhite;
                padding: $base-padding*0.5 $base-padding;   
                border-radius: 50%;
                color: $base-style-color;
            }
        }
        &#content {
            width: 70%;
            box-sizing: border-box;
            padding: $base-padding * 2;
            div[id="profile"] {
                position: relative;
                display: flex;
                background-color: $alternate-color;
                padding: $base-padding;
                border-radius: $base-border-radius;
                width: 98%;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-left: 10px;
                }
                div {
                    margin: 0px $base-margin;
                    position: relative;
                    top: 20%;
                    p {
                        font-weight: 600;
                    }
                    span {
                        font-size: $base-font-size * 0.85;
                        font-style: italic;
                    }
                }
                div[id="buttons"] {
                    position: absolute;
                    right: 0px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    justify-self: flex-end;
                    > a {
                        outline: none;
                        border: none;
                        border-radius: 50%;
                        background-color: $base-style-color;
                        color: ghostwhite;
                        padding: $base-padding $base-padding * 1.3;
                        margin: 0px $base-margin;
                        &:hover {
                            background-color: $base-hover-color;
                        }
                    }
                }
            }
            form {
                position: relative;
                background-color: $alternate-color;
                width: 98%;
                margin: $base-margin 0px;
                padding: $base-padding * 2 $base-padding;
                border-radius: $base-border-radius;
                display: none;
                label[for="name"] {
                    font-size: $base-font-size * 0.9;
                    margin: 0px 5px;
                    display: block;
                }
                input[id="name"] {
                    outline: none;
                    border: none;
                    font-size: $base-font-size * 1.1;
                    padding: $base-padding;
                    border-radius: $base-border-radius;
                }

                label[for="upload"] {
                    position: absolute;
                    right: 20px;
                    top: 12%;
                    width: 100px;
                    color: white;
                    padding: 10px;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 5px solid $base-style-color;
                    }
                    i {
                        position: relative;
                        bottom: 40px;
                        right: 0px;
                        padding: $base-padding;
                        background-color: $base-style-color;
                        font-size: 1rem;
                        border-radius: 50%;
                    }
                }
                input[type="file"] {
                    display: none;
                }
                button {
                    outline: none;
                    border: 2px solid white;
                    padding: $base-padding * 0.5 $base-padding * 2;
                    color: ghostwhite;
                    background-color: $base-style-color;
                    font-size: $base-font-size;
                    border-radius: $base-border-radius;
                    margin: $base-td-margin 0px;
                    &:hover{
                        background-color: $base-hover-color;
                    }
                }
            }
        }
        h1 {
            color: $base-style-color;
            font-size: $base-font-size * 1.5;
            align-self: center;
        }
        ul {
            list-style: none;
            margin: 0px;
            width: 90%;
            padding: $base-padding;
            li {
                font-size: $base-font-size;
                padding: $base-td-padding 0px;
                display: block;
                border-radius: $base-border-radius;
                cursor: default;
                i {
                    padding: 0px $base-rl-padding * 2;
                }
                &:hover {
                    background-color: $alternate-color;
                }
            }
        }
    }
}

// nav {
//     position: relative;
//     width: 20vw;
//     padding: $base-padding * 2;
//     @include center(column);
//     justify-content: flex-start;
//     height: 87vh;
//     left:-30px;
//     display: none;
//     @include center(column);
//     &::before {
//         @include full_before();
//         background-color: rgba(205, 205, 205, 0.6);
//         filter: blur(1px);
//         border-radius: $base-border-radius * 2.5;
//         border: 2px solid white;
//     }
//     div[id="icon"] {
//         position: relative;
//         padding: 2px $base-padding;
//         border-radius: $base-border-radius * 1.5;
//         background: white;
//         padding: 4px $base-padding;
//         img {
//             width: 45px;
//         }
//         span {
//             font-size: 2.5rem;
//             font-weight: 700;
//             font-style: italic;
//             color: rgb(59, 68, 91);
//             vertical-align: center;
//         }
//     }
//     div[id="profile"] {
//         text-align: center;
//         width: 95%;
//         background-color: $alternate-color;
//         margin: $base-margin 0px;
//         border-radius: $base-border-radius * 2;
//         padding: $base-padding;
//         div{
//             display: inline-block;
//             width: 60px;
//             height: 60px;
//             background-color: white;
//             border-radius: 50%;
//             overflow: hidden;
//             img {
//                 height: 60px;
//                 background-size: cover;
//                 background-position: center;
//             }
//         }
//         p {
//             margin: $base-margin * 0.3 0px;
//             color: $base-style-color;
//             span {
//                 display: block;
//                 font-style: italic;
//                 margin: $base-margin * 0.2 0px;
//                 cursor: default;
//                 &:hover {
//                     color: white;
//                     text-decoration: underline;
//                 }
//             }
//         }
//         i {
//             font-size: $base-font-size;
//             padding: $base-padding * 1.2;
//             margin: $base-margin $base-margin * 0.5;
//             border-radius: 50%;
//             background: radial-gradient(white 40%, $base-style-color);
//             transition: $base-transition;
//         }
//         > i:hover {
//             transform: rotate(60deg);
//         }
//     }
//     div[id="social-links"] {
//         > i {
//             font-size: $base-font-size;
//             padding: $base-padding * 1.2;
//             margin: $base-margin $base-margin * 0.3;
//             border-radius: 50%;
//             background-color: white;
//             color: $base-style-color;
//         }
//     }
// }
