* {
  margin: 0px; }

body {
  background-image: url(../images/b5.jpg);
  backdrop-filter: blur(3px);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif; }
  body nav {
    position: relative;
    width: 20%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 87vh; }
    body nav::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: rgba(205, 205, 205, 0.6);
      filter: blur(1px);
      border-radius: 25px;
      border: 2px solid white; }
    body nav div[id="icon"] {
      position: relative;
      padding: 2px 10px;
      border-radius: 15px;
      background: white;
      padding: 4px 10px;
      margin-right: 30px;
      display: flex;
      align-items: center;
      flex-direction: row; }
      body nav div[id="icon"] img {
        width: 45px; }
      body nav div[id="icon"] span {
        font-size: 2.5rem;
        font-weight: 700;
        font-style: italic;
        color: #3b445b;
        vertical-align: center; }
    body nav div[id="profile"] {
      width: 95%;
      min-height: 200px;
      background-color: #fff78a63;
      margin: 20px 0px;
      border-radius: 20px; }
    body nav a[class="nav-link"] {
      margin: 0px 30px;
      font-size: 1.3rem;
      position: relative;
      text-decoration: none;
      color: #EE7214; }
      body nav a[class="nav-link"]::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: white;
        transition: 0.3s ease-in-out;
        transform: scaleX(0%); }
      body nav a[class="nav-link"]:hover::before {
        transform: scaleX(100%); }
    body nav a:last-child {
      position: absolute;
      right: 0;
      margin: 0px 20px;
      background-color: #004cff;
      border-radius: 20px;
      z-index: 0;
      border: 2px solid white;
      text-decoration: none;
      height: 50px;
      width: 160px;
      font-size: 1.3rem;
      overflow: hidden;
      text-align: center; }
      body nav a:last-child span {
        display: grid;
        align-content: center;
        width: 100%;
        height: 100%;
        color: white;
        position: relative;
        background: transparent; }
        body nav a:last-child span::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background-color: #2565fa;
          width: 0;
          transition: 0.3s ease-in-out; }
      body nav a:last-child:hover span::before {
        width: 100%; }
  body main {
    position: relative;
    width: 67%;
    height: 87vh;
    border-radius: 20px;
    padding: 20px; }
    body main::before {
      background-color: rgba(200, 200, 200, 0.662);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 20px;
      background-image: inherit;
      filter: blur(1px);
      z-index: -1; }
    body main > p {
      font-family: 'Poppins', sans-serif;
      margin-left: 20px;
      font-size: 1.69rem; }
    body main form[id="add-task"] {
      text-align: center; }
      body main form[id="add-task"] div {
        position: relative;
        padding: 20px;
        border-radius: 15px;
        background-color: #fff78a63;
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-columns: 0.5fr 0.5fr;
        row-gap: 9%;
        column-gap: 4%;
        width: 95%; }
        body main form[id="add-task"] div textarea,
        body main form[id="add-task"] div input {
          padding: 10px;
          font-size: 1.4989rem;
          display: block;
          outline: none;
          border: none;
          background: transparent;
          border-radius: 10px;
          border-bottom: 2px solid #EE7214; }
        body main form[id="add-task"] div textarea {
          grid-row: 1/2;
          grid-column: 1/3; }
        body main form[id="add-task"] div input[type="text"] {
          position: relative;
          grid-row: 2/3;
          grid-column: 1/2; }
        body main form[id="add-task"] div img {
          align-self: center;
          grid-row: 2/3;
          grid-column: 1/2;
          position: absolute;
          right: 10px;
          width: 45px;
          transition: all 0.3s ease-in-out; }
        body main form[id="add-task"] div ul {
          grid-row: 2/3;
          grid-column: 1/2;
          list-style: none;
          position: absolute;
          background-color: ghostwhite;
          color: #EE7214;
          font-size: 1.4989rem;
          right: 10px;
          border-radius: 10px;
          padding: 0px;
          overflow: hidden;
          z-index: 99;
          transition: all 0.3s ease-in-out; }
          body main form[id="add-task"] div ul li {
            padding: 7px 10px;
            margin: 14px 10px;
            border-radius: 10px; }
            body main form[id="add-task"] div ul li:hover {
              background-color: #EE7214;
              color: ghostwhite; }
        body main form[id="add-task"] div input[type="date"] {
          grid-row: 2/3;
          grid-column: 2/3; }
      body main form[id="add-task"] button {
        font-size: 1.5rem;
        padding: 10px;
        margin: 20px;
        border-radius: 15px;
        cursor: pointer;
        background: linear-gradient(white, #EE7214);
        outline: none;
        border: none; }
        body main form[id="add-task"] button:hover {
          background-color: gray;
          border: 1px solid black; }
        body main form[id="add-task"] button span {
          padding: 10px; }
    body main form[id="task-container"] {
      flex-direction: column;
      max-height: 41.3%;
      width: 100%;
      overflow: scroll; }
      body main form[id="task-container"]::-webkit-scrollbar {
        display: none; }
      body main form[id="task-container"] div {
        position: relative;
        width: 91.5%;
        border-radius: 15px;
        margin: 10px 0px;
        background-color: #fff78a63;
        padding: 10px 40px; }
        body main form[id="task-container"] div:hover {
          border: 2px solid #EE7214; }
        body main form[id="task-container"] div i[class="fa-solid fa-trash-can"] {
          color: black;
          position: absolute;
          left: 10px;
          top: 18px;
          padding: 10px;
          font-size: 1.3rem;
          border-radius: 50%; }
          body main form[id="task-container"] div i[class="fa-solid fa-trash-can"]:hover {
            color: #EE7214;
            background-color: white;
            box-shadow: 0px 0px 8px 5px #f9954a; }
        body main form[id="task-container"] div p {
          font-size: 1.5rem;
          margin-left: 20px; }
          body main form[id="task-container"] div p span[class="task-description"] {
            margin: 0px; }
          body main form[id="task-container"] div p span[class="label"] {
            font-size: 1.3rem;
            color: #EE7214;
            position: absolute;
            background-color: ghostwhite;
            padding: 10px;
            align-self: center;
            top: 20%;
            right: 30px;
            border-radius: 20px; }
          body main form[id="task-container"] div p span[class="date"] {
            font-size: 1.04rem;
            color: #5a5a5a;
            padding: 0px 10px; }
          body main form[id="task-container"] div p i {
            font-size: 1.3rem;
            color: #EE7214; }

.list {
  height: 0px;
  bottom: 0%; }

.active {
  height: 250px;
  bottom: -370%; }
