* {
  margin: 0px; }

body {
  background-image: url(../images/b5.jpg);
  backdrop-filter: blur(3px);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif; }
  body div[id="sidebar"] {
    height: 90vh;
    position: fixed;
    left: 10px;
    top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-size: 1.3rem; }
    body div[id="sidebar"] button {
      font-size: 1.3rem;
      outline: none;
      border: none;
      border-radius: 50%;
      padding: 10px;
      border: 1px solid #EE7214; }
      body div[id="sidebar"] button i {
        color: #EE7214; }
    body div[id="sidebar"] > i {
      color: white;
      padding: 10px;
      border-radius: 50%; }
      body div[id="sidebar"] > i:hover {
        background-color: #fff78a63; }
  body nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 2%;
    background-color: rgba(200, 200, 200, 0.662);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    transition: width 0.1s linear; }
    body nav:hover {
      width: 13%; }
    body nav:hover div span {
      display: inline-block; }
    body nav div {
      position: relative;
      background-color: ghostwhite;
      width: 90%;
      border-radius: 10px;
      padding: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      left: -5px; }
      body nav div img {
        width: 33px; }
      body nav div span {
        font-size: 1.5rem;
        position: relative;
        top: 4px;
        font-weight: 900;
        font-style: italic;
        color: #3c4d5d;
        display: none; }
    body nav:hover ul li span {
      display: inline-block; }
    body nav:hover ul p {
      display: block; }
    body nav ul {
      list-style: none;
      margin: 20px 0px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap; }
      body nav ul p {
        font-size: 1.3rem;
        position: relative;
        left: -10px;
        color: #EE7214;
        display: none; }
      body nav ul a {
        color: black; }
        body nav ul a li {
          font-size: 1.5rem;
          padding: 8px 5px;
          white-space: nowrap;
          border-radius: 10px; }
          body nav ul a li:hover {
            background-color: #fff78a63; }
          body nav ul a li span {
            font-size: 1.1rem;
            margin: 0px 0px 0px 10px;
            display: none;
            white-space: nowrap; }
  body main {
    position: relative;
    width: 67%;
    height: 87vh;
    border-radius: 20px;
    padding: 20px; }
    body main::before {
      background-color: rgba(200, 200, 200, 0.662);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 20px;
      background-image: inherit;
      filter: blur(1px);
      z-index: -1; }
    body main > p {
      font-family: "Poppins", sans-serif;
      margin-left: 20px;
      font-size: 1.69rem; }
    body main form[id="add-task"] {
      text-align: center; }
      body main form[id="add-task"] div {
        position: relative;
        padding: 20px;
        border-radius: 15px;
        background-color: #fff78a63;
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-columns: 0.5fr 0.5fr;
        row-gap: 9%;
        column-gap: 4%;
        width: 95%; }
        body main form[id="add-task"] div textarea,
        body main form[id="add-task"] div input {
          padding: 10px;
          font-size: 1.4989rem;
          display: block;
          outline: none;
          border: none;
          background: transparent;
          border-radius: 10px;
          border-bottom: 2px solid #EE7214; }
        body main form[id="add-task"] div textarea {
          grid-row: 1/2;
          grid-column: 1/3; }
        body main form[id="add-task"] div input[type="text"] {
          position: relative;
          grid-row: 2/3;
          grid-column: 1/2; }
        body main form[id="add-task"] div img {
          align-self: center;
          grid-row: 2/3;
          grid-column: 1/2;
          position: absolute;
          right: 10px;
          width: 45px;
          transition: all 0.3s ease-in-out; }
        body main form[id="add-task"] div ul {
          grid-row: 2/3;
          grid-column: 1/2;
          list-style: none;
          position: absolute;
          background-color: ghostwhite;
          color: #EE7214;
          font-size: 1.4989rem;
          right: 10px;
          border-radius: 10px;
          padding: 0px;
          overflow: hidden;
          z-index: 99;
          transition: all 0.3s ease-in-out;
          overflow: scroll;
          overflow-x: hidden; }
          body main form[id="add-task"] div ul li {
            padding: 7px 10px;
            margin: 14px 10px;
            border-radius: 10px; }
            body main form[id="add-task"] div ul li:hover {
              background-color: #EE7214;
              color: ghostwhite; }
        body main form[id="add-task"] div input[type="date"] {
          grid-row: 2/3;
          grid-column: 2/3; }
      body main form[id="add-task"] button {
        font-size: 1.5rem;
        padding: 10px;
        margin: 20px;
        border-radius: 15px;
        cursor: pointer;
        background: linear-gradient(white, #EE7214);
        outline: none;
        border: none; }
        body main form[id="add-task"] button:hover {
          background-color: gray;
          border: 1px solid black; }
        body main form[id="add-task"] button span {
          padding: 10px; }
    body main div[id="task-container"] {
      flex-direction: column;
      max-height: 41.3%;
      width: 100%;
      overflow: scroll; }
      body main div[id="task-container"]::-webkit-scrollbar {
        display: none; }
      body main div[id="task-container"] div[class="task"] {
        position: relative;
        width: 91.5%;
        border-radius: 15px;
        margin: 10px 0px;
        background-color: #fff78a63;
        padding: 10px 40px; }
        body main div[id="task-container"] div[class="task"]:hover {
          border: 2px solid #EE7214; }
        body main div[id="task-container"] div[class="task"] i[class="fa-solid fa-trash-can"] {
          color: black;
          position: absolute;
          left: 10px;
          top: 18px;
          padding: 10px;
          font-size: 1.3rem;
          border-radius: 50%; }
          body main div[id="task-container"] div[class="task"] i[class="fa-solid fa-trash-can"]:hover {
            color: #EE7214;
            background-color: white;
            box-shadow: 0px 0px 8px 5px #f9954a; }
        body main div[id="task-container"] div[class="task"] p {
          font-size: 1.5rem;
          margin-left: 20px; }
          body main div[id="task-container"] div[class="task"] p span[class="task-description"] {
            margin: 0px; }
          body main div[id="task-container"] div[class="task"] p span[class="label"] {
            font-size: 1.3rem;
            color: #EE7214;
            position: absolute;
            background-color: ghostwhite;
            padding: 10px;
            align-self: center;
            top: 20%;
            right: 30px;
            border-radius: 20px; }
          body main div[id="task-container"] div[class="task"] p span[class="date"] {
            font-size: 1.04rem;
            color: #5a5a5a;
            padding: 0px 10px; }
          body main div[id="task-container"] div[class="task"] p i {
            font-size: 1.3rem;
            color: #EE7214; }

.list {
  height: 0px;
  bottom: 0%; }

.active {
  height: 250px;
  bottom: -370%; }

.initial {
  display: none; }
